html {
  font-size: 62.5%;
}

body {
  color: #333;
  font-size: 1.5rem;
  font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
}

img {
  max-width: 100%;
}

li {
  font-size: 1.4rem;
  list-style: none;
}

a {
  cursor: pointer;
  display: inline-block;
}

.wrapper {
  padding: 0 16px;
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.read_more {
  text-align: center;
  font-size: 1.4rem;
  cursor: pointer;

  a {
    padding: 1px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #333;
      transition: all 0.2s ease;
    }

    &:hover::after {
      transform: translateY(3px);
      opacity: 0;
    }
  }
}

/* ----------------------
header
----------------------- */

header {
  position: fixed;
  z-index: 1;
  width: 100%;
  background: #fff;

  h1 {
    padding: 20px 0;
  }

  nav {
    background: #333;
    color: #fff;


    ul {
      max-width: 1200px;
      margin: 0 auto;

      li {
        margin-right: 60px;
      }

      a {
        padding: 12px 0;
        cursor: pointer;
      }
    }
  }
}

/* ----------------------
main_container
----------------------- */

#main_container {
  position: relative;
  top: 150px;
  z-index: 0;

  >.flex {
    justify-content: space-between;
  }
}

/* ----------------------
pick_up
----------------------- */

#pickup {

  article {
    width: 32%;
    margin-bottom: 70px;

    h2 {
      font-size: 1.6rem;
      font-weight: bold;
      line-height: 1.5;
      margin: 10px 0;
    }

  }
}

/* ----------------------
main
----------------------- */

main {
  width: 65%;

  article {
    h2 {
      font-size: 2.4rem;
      font-weight: bold;
      line-height: 1.5;
      margin: 10px 0;
    }

    .meta {
      font-size: 1.6rem;
      margin-bottom: 10px;

      a {
        margin-left: 20px;
      }
    }

    p {
      font-size: 1.6rem;
      line-height: 1.5;
      margin: 16px 24px;
    }

    .read_more {
      margin: 30px auto 100px;
    }
  }
}


/* ----------------------
aside
----------------------- */
aside {
  width: 32%;
  padding: 20px;

  #profile {
    text-align: center;

    img {
      height: 130px;
      width: 130px;
      border-radius: 50%;
      object-fit: cover;
    }

    h3 {
      font-size: 1.8rem;
      font-weight: bold;
      margin: 50px 30px 30px;
    }

    p {
      font-size: 1.4rem;
      text-align: left;
      line-height: 1.5;
    }
  }

  #ranking {
    margin: 80px 0;
    text-align: center;

    h3 {
      font-size: 1.8rem;
      font-weight: bold;
      margin: 50px 30px 30px;
    }

    li {
      position: relative;
    }

    @mixin rank_after {
      font-weight: bold;
      position: absolute;
      background-color: rgb(247, 207, 33);
      top: 0;
      left: 0;
      width: 50px;
      height: 20px;
      line-height: 1.5;
      z-index: 10;
    }

    #rank_1::after {
      @include rank_after;
      content: 'No. 1';
    }

    #rank_2::after {
      @include rank_after;
      content: 'No. 2';
    }

    #rank_3::after {
      @include rank_after;
      content: 'No. 3';
    }


    h4 {
      margin: 10px 0 30px;
      text-align: left;
    }
  }

  #archive {
    text-align: center;

    h3 {
      font-size: 1.8rem;
      font-weight: bold;
      padding: 50px 30px 30px;
      border-bottom: 1px solid #777;
    }

    li {
      border-bottom: 1px solid #777;
      padding: 20px;
      text-align: left;
    }
  }
}


/* ----------------------
footer
----------------------- */

footer {
  position: relative;
  top: 150px;
  background-color: #f7f7f7;
  line-height: 1.5;

  h3 {
    font-size: 1.8rem;
    font-weight: bold;
    padding: 50px 0 30px;
  }

  .flex {
    justify-content: space-between;
    padding: 20px;
  }

  #copy {
    padding: 10px;
  }

  #about {
    width: 30%;

    p {
      margin-bottom: 30px;
      font-size: 1.4rem;
    }

    a {
      position: relative;
      margin-bottom: 10px;
      padding-left: 12px;
    }

    a::before {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      left: 0;
      top: 5px;
      border-style: solid;
      border-color: transparent transparent transparent#333;
      border-width: 6px 0 6px 8px;
    }
  }

  #menu {
    width: 30%;

    h3 {
      border-bottom: 1px solid #777;
    }

    li {
      padding: 15px;
      border-bottom: 1px solid #777;
    }

  }

  #twitter {
    width: 30%;
  }

  p:last-child {
    text-align: center;
  }
}


/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 767px) {
  nav ul {
    overflow-x: scroll;
  }

  #main_container .flex {
    flex-direction: column;

    article,
    main,
    aside {
      width: 100%;
    }

    aside {
      padding: 0;
    }
  }

  footer>div {
    flex-direction: column;

    #about,
    #menu,
    #twitter {
      width: 100%;
    }
  }

}